.random-planet {
    display: flex;
    padding: 1rem;
}

.random-planet.jumbotron {
  margin-bottom: 0;
}

.random-planet .planet-image {
    width: 150px;
    height: 150px;
    border-radius: 500px;
    margin-right: 1rem;
    background-size: cover;
}

.random-planet .list-group {
    margin-top: 1rem;
}

.random-planet .list-group-item {
    padding: .25rem;
}

.random-planet .list-group-item .term {
    margin-right: .5rem;
}