.item-details {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  padding: 1rem;
}

.item-details .card-body {
  padding-top: 0;
  padding-bottom: 0;
}

.item-details .image {
  width: 30%;
  height: 30%;
  border-radius: 10px;
}

.item-details .list-group-item {
  padding: 0.25rem 0;
}

.item-details .list-group-item .term {
  margin-right: .5rem;
  opacity: 0.6;
}

.item-details .list-group-item .value {
  font-weight: bold;
}