.header {
  margin-top: .5rem;
  padding-left: 10px;
}

.header__navigation {
  padding: 0;
}

.header__link {
  list-style: none;
  margin: 0;
  padding: .5rem 1rem;
  border-radius: 3px;
}

.header__link a {
  color: white;
}

.header h3 a {
  --header-logo: 40px;

  display: block;

  width: var(--header-logo);
  height: var(--header-logo);

  background: transparent url('../../assets/starwars-logo.png') no-repeat center center;
  background-size: contain;
}

.header__link:hover,
.header h3 a {
  transition: opacity 0.4s ease;
}

.header__link:hover,
.header h3 a:hover {
  opacity: 0.5;
}